.logs {
}

.logs .entry {
    font-family: "monospace";
    font-size: 11px;
}

.logs .entry .ts, .logs .entry .logger {
    font-size: 10px;
}

.logs .entry .extra {
    padding-left: 10px;
    color: #8f8f8f;
}

.logs .entry .extra .key {
    font-weight: bold;
}

.logs .entry.level-warn {
    background-color: #ffc107;
}

.logs .entry.level-error {
    background-color: #ffdddd;
}
