export default {
    graylog: {
        basicAuth: {
            username: '',
            password: ''
        },
        protocol: 'https',
        host: '',
        port: '443',
        path: ''
    },
    users: [{
        username: '',
        password: ''
    }],
    password: ''
};
